@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

a{
  text-decoration: none;

}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: #ddd0c8;
}
.header{
  color: black;
  font-size: 2rem;
  text-align: center;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
}
.h1header{
  text-decoration: underline;
}
.links{
  display: flex;
  align-items: center;
  justify-content: center;
}

.link{
  text-decoration: none;
  color: black;
  text-align: center;
  margin: 0.5rem;
  padding: 2rem;
}
.link:hover, .linkp:hover{
  background-color: white;
  color: black;
}


.blog{
  border: 1px solid black;
  margin-top: 2rem;
  font-size: 2rem;
  width: 90vw;
  
}
.blog a{
  color: black;
}
.linkp{
  height: 100%;
}


.bh1{
  
  font-size: 2rem;
}





/* Blog-details */

.bd.h2{
  color: green;
}

.personForPati{
  color: #f1356d;
  font-weight: bold;
}
.personForZelek{
  color: rgb(0, 2, 128);
  font-weight: bold;
}
/* Komponent create */
.create {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 2rem;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  font-size: 1rem;
  
}
button {
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 100px;
  cursor: pointer;
  
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 150px;
  height: 150px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.loading-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  animation: fadeIn 1s;
}
.btn-disabled{
  background: #ff89ad;
}
.btn-enabled{
  background: black;

}
